/fire.vdc
/fire.vec
/five_aux.vec
/humidity.dvc
/humidity.vec
/mapahum.py
/mapaveg.py
/mn-CA_examples
/poligonos.dvc
/poligonos.txt
/poligonos.vec
/Vectorial_example.py
/vegetation.dvc
/vegetation.vec
/Wildfire_on_R
/_aux
/_drafts